{% load staticfiles %}
<html>
    <head>
        <title>Susi's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 07.07.18, 15:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Es klappt!.</p>
        </div>

        <div>
            <p>published: 07.07.2018, 15:14</p>
            <h2><a href="">My second post</a></h2>
            <p>^^ Tolles Team :).</p>
        </div>
        {% for post in post %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>            
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </body>
</html>